  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

  * {
      margin: 0;
      padding: 0;
  }

  html {
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, #ff0b0b, rebeccapurple);
  }

  nav {
      font-family: 'Bricolage Grotesque', sans-serif;
      display: flex;
      background-color: #848d7a;
      border-bottom: 2px solid black;
      padding: 18px 7px;
      font-size: 20px;
      font-weight: 900;
  }

  nav ul li a {
      text-decoration: none;
      color: black;
      transition: all;
      transition-duration: 500ms;
  }

  nav ul li a:hover {
      color: #d0b3df;
      text-decoration: underline;
      font-size: 22px;
  }

  .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25px;

  }

  nav ul {
      display: flex;
      align-items: center;
  }

  li {
      list-style: none;
      margin: 0 23px;
  }

  .container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      max-width: 60vw;
      margin: auto;
      border: 2px solid palevioletred;
    border-radius: 10px;
  }

  h1 {
      margin: 50px auto;
      width: 35vw;
      font-family: 'Bricolage Grotesque', sans-serif;
      text-align: center;
      
  }

  .btn {
      cursor: pointer;
      width: 60px;
      height: 50px;
  }

  input {
      width: 100px;
      padding: 5px 12px;
      margin: 5px 10px;
background-color: #e0f9ee;
    border: 1px solid;
    border-radius: 5px; 
      height: 25px;
  }
select {
    background: #4245;
    height: 40px;
    padding: 0 20px;
    border-radius: 15px;
    color: #fff;
    border: 0;
}

  footer {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      position: fixed;
      bottom: 0;
      background-color: black;
      color: white;
      width: 100vw;
  }